{% import '_macros/_img.twig' as m_img %}

<article id="post-{{post.id}}" class="bb b--black-10 pb4" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="flex flex-column flex-row-ns">
        {% if post.thumbnail %}
            {% set image = post.thumbnail.id %}
            <div class="pr3-ns mb4 mb0-ns w-100 w-30-ns" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                {{m_img.responsive(image, {alt: 'post thumbnail', class: 'db'})}}
                <meta itemprop="url" content="{{post.thumbnail.src}}" />
                <meta itemprop="width" content="{{post.thumbnail.width}}" />
                <meta itemprop="height" content="{{post.thumbnail.height}}" />
            </div>
        {% endif %}
        <div class="w-100 w-70-ns p13-ns">
            <header>
                <h2 class="mt0 lh-title" itemprop="headline"><a href="{{post.link}}" class="link dark-red dim" itemprop="url" rel="bookmark">{{post.title}}</a></h2>
                <p>
                    <strong>Publish Date</strong>:
                    <span itemprop="datePublished">
                        <time datetime="{{post.date('Y-m-d')}}" pubdate>{{post.date}}</time>
                    </span>
                </p>
                <p>
                    <strong>Author</strong>:
                    <span itemprop="author">{{post.author}}</span>
                </p>
            </header>
            <div class="lh-copy" itemprop="description">
                {{post.preview}}
            </div>
        </div>
    </div>
</article>