{% block html_head_container %}

{% include 'head.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{function('tha_body_top')}}

		{{function('tha_header_before')}}
		<header class="header" >
			{{function('tha_header_top')}}
			{% block header %}
				<div class="wrap">
					<h1 class="logo" role="banner">
						<a class="logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
			{{function('tha_header_bottom')}}
		</header>
		{{function('tha_header_after')}}

		<div class="site-inner">
			{{function('tha_content_before')}}
				<main>
					{{function('tha_content_top')}}
					{{function('tha_content_bottom')}}
				</main>
			{{function('tha_content_after')}}
		</div>

		{% block footer %}
			{{function('tha_footer_before')}}
			<footer id="footer">
				{{function('tha_footer_top')}}
				{% include 'footer.twig' %}
				{{function('tha_footer_bottom')}}
			</footer>
			{{function('tha_footer_after')}}
			{{function('tha_body_bottom')}}
			{{function('wp_footer')}}
		{% endblock %}
	</body>
</html>
