{% block html_head_container %}
	{% include 'head.twig' %}
{% endblock %}

	<body class="{{body_class}}" itemscope itemtype="http://schema.org/WebPage" data-template="base.twig">
		{{function('tha_body_top')}}

		<!-- Site Container -->
		<div class="site-container">

			<!-- Site Header -->
			{{function('tha_header_before')}}
				{% include('header.twig') %}
			{{function('tha_header_after')}}

			<!-- Site Inner -->
			<div class="site-inner">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>

			<!-- Site Footer -->
			{% block footer %}
				{{function('tha_footer_before')}}
					{% include('footer.twig') %}
				{{function('tha_footer_after')}}
			{% endblock %}

		</div>

		{{function('tha_body_bottom')}}
		{{function('wp_footer')}}
	</body>
</html>
