{% extends "base.twig" %}

{% block banner %}
	{% embed '/components/banner.twig' %}
		{% block content %}
			<h1>{{page.title}}</h1>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block layout %}
	{{function('tha_content_before')}}
	<div class="wrap">
		{{function('tha_content_top')}}
		{% embed '/layouts/full-width.twig' %}
			{% block content %}
				<h1>{{page.title}}</h1>
				{{page.content}}
			{% endblock %}
		{% endembed %}
		{{function('tha_content_bottom')}}
	</div>
	{{function('tha_content_after')}}
{% endblock %}