<!doctype html>
<!--
  *****   **           **                  **    **
 **   **  **           **  *****   ***** ******     **     **
**     ** ******       ** **  *** **       **    **  **   **
 **   **  **  **  **   ** **      **       **    **   ** **
  *****   ******   ******  *****   *****   **    **     **
-->
{{function('tha_html_before')}}
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}} itemscope itemtype="http://schema.org/WebSite"> <!--<![endif]-->
<head>
    {{function('tha_head_top')}}
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <!-- Meta Information -->
    <meta charset="{{site.charset}}" />
    <meta name="description" content="{{site.description}}" itemprop="description">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="name" content="{{site.name}}" itemprop="name" />
    <meta itemprop="url" content="{{site.url}}" itemprop="url" />

    <!-- Links -->
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
    <link rel="pingback" href="{{site.pingback_url}}" />

    {{function('tha_head_bottom')}}
    {{function('wp_head')}}
    {% block head %}
    {% endblock %}
</head>
