<header {{function('obj_attr', 'site-header')}}>
    {{function('tha_header_top')}}
    {% block header %}
        <div class="wrap">
            <h1 class="logo" role="banner">
                <a class="logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
            <nav id="nav-main" class="nav-main" role="navigation">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
        </div>
    {% endblock %}
    {{function('tha_header_bottom')}}
</header>
