{% extends "base.twig" %}

{% block content %}
	{{function('tha_content_before')}}
	<div class="content-sidebar-wrap">
		{{function('tha_content_top')}}
		<main class="content" itemscope itemtype="http://schema.org/Blog">
			{% for post in posts %}
				{% include "components/post.twig" %}
			{% endfor %}
		</main>
		<aside class="sidebar sidebar-primary" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="http://schema.org/WPSidebar">
			<ul>
				{{primary_sidebar}}
			</ul>
		</aside>
		{{function('tha_content_bottom')}}
	</div>
	{{function('tha_content_after')}}
{% endblock %}
