{% extends "base.twig" %}

{% block banner %}
	{% embed '/components/banner.twig' %}
		{% block content %}
			<h1>Blog</h1>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block content %}
	{{function('tha_content_before')}}
	<div class="content-sidebar-wrap">
		{{function('tha_content_top')}}
		{% block layout %}
			{% embed 'layouts/content-sidebar.twig' %}
				{% block content %}
					<div itemscope itemtype="https://schema.org/Blog">
						{% for post in posts %}
							{% include 'components/tease.twig' %}
						{% endfor %}
					</div>
					{% include 'components/pagination.twig' %}
				{% endblock %}
				{% block sidebar %}
					<ul>
						{{sidebar}}
					</ul>
				{% endblock %}
			{% endembed %}
		{% endblock %}
		{{function('tha_content_bottom')}}
	</div>
	{{function('tha_content_after')}}
{% endblock %}
