{% import '_macros/_img.twig' as m_img %}

{% extends "base.twig" %}

{% block content %}
	{{function('tha_content_before')}}
	<div class="wrap">
		{{function('tha_content_top')}}
		<main class="content">
			<h1>{{page.title}}</h1>
			{{page.content}}
			{% set image = page.get_field( 'image' ) %}
			{{m_img.responsive(image, {alt: 'an image', class: 'responsive'})}}
		</main>
		{{function('tha_content_bottom')}}
	</div><!-- /content-wrapper -->
	{{function('tha_content_after')}}
{% endblock %}
